<html>
<head>
    <title>Hack Day Merry Tweetmas</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>Merry Tweetmas - Edit Tag "{{tag}}"</h1>
        </header>
        <form action="/tags/edit?tag={{tag}}" method="post">
            <table id="tags">
                {% set value = twitter_tags[tag] %}
                <tr>
                    <td>Red</td>
                    <td>
                        <input type="text" name="red" id="red" value={{value['red']}} />
                    </td>
                </tr>
                <tr>
                    <td>Green</td>
                    <td>
                        <input type="text" name="green" id="green" value={{value['green']}} />
                    </td>
                </tr>
                <tr>
                    <td>Blue</td>
                    <td>
                        <input type="text" name="blue" id="blue" value={{value['blue']}} />
                    </td>
                </tr>
            </table>
            <input type="submit" value="Update" />
        </form>
    </div>
</body>
</html>
